var judgeDone = function (time, plans) {
    if (plans && plans.length) {
        var now = getDate().getTime()
        var cur = getDate(time).getTime()
        if (cur <= now) {
            return !plans.some(function(item) {
                return item.status === 0
            })
        }
    }
    return true
}

var weekTrans = function (week) {
    var arr = ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
    return arr[week]
}

module.exports = {
    judgeDone: judgeDone,
    weekTrans: weekTrans
}